<%- include("partials/header") %>
<h1>Contact us</h1>
<!-- print the articals -->

<% for(let i=0;i<contact_articals.length;i++){%> 
    <li><%= contact_articals[i] %></li>
<%};%>
<%- include("partials/footer") %> 