    <%- include("partials/header")  %>
    <h1>Home</h1>
    <!-- print the articals -->

    <% Posts.forEach(function(elem){%> 
        <h3><%=elem.Titles%></h3>
        <li><%= elem.Blogs %></li>
    <%});%>
    <%- include("partials/footer") %>    